<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${configsetting:item=LoggingPath}\internal-messageproxy.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="appName" value="MessageProxyApi" />
  <variable name="logDirectory" value="${configsetting:item=LoggingPath}\${appName}" />

  <targets>
    <target xsi:type="File" name="fileLogger"
            fileName="${logDirectory}\messageproxy-${shortdate}.log"
            layout="${longdate}|${aspnet-environment}|${appName}|${uppercase:${level}}|${aspnet-request-ip}|${aspnet-request-method}|${aspnet-request-url}|${message}${newline}${exception:format=tostring}" />

    <target xsi:type="ColoredConsole" name="consoleLogger" layout="${longdate}|${level}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="fileLogger,consoleLogger" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="consoleLogger" final="true" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>
